@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Secular One', sans-serif;
    color: #8c73d4;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 10px;
    overflow: auto;
}


@media only screen and (min-width:320px) and (max-width:480px) {

    html,
    body {
        scroll-behavior: smooth;
        height: 100vh;
    }
    
body {
        background: url(./images/Shape.svg);
    }

    .top {
        height: 8%;
        width: 100%;
        position: fixed;
        z-index: 9;
    }

    .nav {
        width: 100%;
        background-color: #8c73d4;
        height: 100%;
        display: flex;
        z-index: 100;
        justify-content: space-between;
    }

    .menu {
        background: #8c73d4;
        height: 40vh;
        top: 0;
        border-radius: 0 0 30px 30px;
        width: 100%;
        position: absolute;
        transform: translateY(-100%);
        z-index: 999;
        visibility: hidden;
        transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .active .menu {
        transform: translateY(0);
        opacity: 1;
        position: absolute;
        visibility: visible;
        z-index: 999;
    }

    .menu li {
        list-style-type: none;
        text-align: center;
    }

    .menu li ul {
        margin: 2vh 0;
    }

    .menu li ul p {
        font-size: 6vw;
        cursor: pointer;
        color: white;
    }

    .menu li ul a {
        text-decoration: none;
        height: min-content;
        font-size: 6vw;
        color: white;
    }

    .left-nav {
        width: 70px;
        height: 100%;
    }

    .right-nav {
        width: 70px;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .right-nav img {
        height: 7vw;
        opacity: 1;
        /* cursor: pointer; */
    }

    .right-nav #unclick {
        display: none;
    }

    .active .right-nav #unclick {
        display: block;
        z-index: 1000;
    }

    .active .right-nav #click {
        display: none;
    }

    .main {
        height: 100%;
        width: 100%;
    }

    .section {
        height: 100%;
        width: 100%;
    }


    .image {
        height: 50%;
        padding: 0 12px;
        width: 100%;
        display: flex;
    }

    .image>div:first-child {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0 3vw;
    }

    .name>* {
        font-size: 10vw;
        text-align: left;
        color: #8c73d4;
        letter-spacing: 1px;
    }


    .name>h3:nth-child(2) {
        color: rgb(255, 255, 255);
        -webkit-text-stroke: 2px #8c73d4;
    }

    .active .section,
    .active .section-2 {
        -webkit-filter: blur(5px);
        filter: blur(5px);
        transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
    }

    .image>div:last-child {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .image img {
        height: auto;
        width: 45vw;
        object-position: center;
        object-fit: cover;
    }

    .about {
        height: 40%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        text-align: center;
        padding: 0 1.5vh;
        letter-spacing: .5px;
    }

    .about div:first-child {
        font-size: 11.5vw;
        font-weight: 700;
        font-family: 'Secular One', sans-serif;
    }

    .about div:first-child h3::before {
        content: 'FRONTEND DEVELOPER';
        position: absolute;
        top: -.7vw;
        left: -1.3vw;
        color: black;
        z-index: -1;
        -webkit-text-stroke: #8c73d4 1.5px;
    }

    .about>p {
        font-size: calc(11.5vw / 2.5);
        font-family: 'Cabin', sans-serif;
        font-weight: 700;
        margin: 1vh .5vh;
    }

    .section-2 {
        display: flex;
        height: 86%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #page {
        height: 85%;
        width: 90%;
        background-color: #b1b1b10f;
        border-radius: 20px;
        backdrop-filter: blur(100px);
        -webkit-backdrop-filter: blur(15px);
        padding: .8vh 2vh;
        overflow: hidden;
    }

    #page>div:last-child {
        border: none;
    }

    .details {
        width: 100%;
        height: 33%;
        border-bottom: 1.5px solid white;
        padding: .8vh 0;
        display: flex;
        position: relative;
    }

    .details>div:first-child {
        height: 100%;
        width: 64%;
        padding: 1vh .8vh;
    }

    .details>div:last-child {
        height: 100%;
        position: relative;
        width: 38%;
        padding: 1vh .8vh;
    }

    .details>div {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #page>div:nth-child(2) {
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
    }

    .details>div:first-child h3 {
        font-family: 'Oswald', sans-serif;
        font-size: 8vw;
    }

    .details>div:first-child p {
        font-size: calc(6.7vw / 1.618);
        line-height: 1.1;
        margin-top: 2vh;
        font-family: 'Cabin', sans-serif;
        font-weight: 600;
    }

    .details>div p {
        color: #8c73d4;
        background-image: -webkit-linear-gradient(315deg, #8c73d4 25%, #c847d6 87%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    #ed {
        height: 20vw;
    }

    .imge {
        height: 40%;
        width: 90%;
        display: flex;
        margin: -2vh 0;
    }

    .imge:nth-child(2) {
        display: flex;
        flex-direction: row-reverse;
    }

    .details:last-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2vh;
    }

    .details:last-child>div {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .details:last-child>div h2 {
        font-family: 'Oswald', sans-serif;
        font-size: 6vw;
    }

    #div2 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .logo {
        height: 16vw;
        width: 16vw;
        border: 1px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 50%;
    }

    .logo a {
        height: min-content;
        display: grid;
        place-items: center;
        text-decoration: none;
        width: min-content;
    }

    .logo a span {
        color: white;
        display: none;
    }

    .logo a img {
        height: 9vw;
    }

    .logo:last-child a img {
        height: 14vw;
    }
}
