@import "https://fonts.googleapis.com/css2?family=Secular+One&display=swap";

@import "https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Secular One', sans-serif;
    color: #8c73d4
}

html {
    scroll-behavior: smooth
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 10px;
    overflow: auto
}

@media only screen and (min-width:320px) and (max-width:480px) {

    html,
    body {
        height: 100%;
        width: 100%;
        scroll-behavior: smooth;
        overflow-x: hidden
    }

    body {
        margin: 0;
        padding: 0;
        background: url(./images/Shape.svg)
    }

    .add {
        width: 100%;
        height: auto;
        transform: translateY(-1vh)
    }

    .top {
        height: 9vh;
        width: 100%;
        position: sticky;
        margin: 0;
        background-color: #8c73d4;
        transition: all ease-in-out .5s
    }

    .show .top {
        background: #8c73d4;
        height: 30vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column
    }

    .menu {
        visibility: hidden
    }

    .show .top .menu {
        visibility: visible
    }

    .menu li {
        list-style-type: none;
        text-align: center;
        transition: .5s ease-in-out .5s
    }

    .menu li ul {
        margin: 1vh 0
    }

    .menu li ul a {
        text-decoration: none;
        height: min-content;
        font-size: 5vw;
        color: #fff
    }

    .right-nav {
        width: 70px;
        height: 8vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: -5px;
        top: 0
    }

    .right-nav img {
        height: 7vw;
        opacity: 1
    }

    .right-nav #unclick {
        display: none
    }

    .active .right-nav #unclick {
        display: block;
        z-index: 1000
    }

    .active .right-nav #click {
        display: none
    }

    .section {
        height: 100vh;
        width: 100%
    }

    .image {
        height: 42%;
        padding: 0 12px;
        width: 100%;
        display: flex
    }

    .image>div:first-child {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0 3vw
    }

    .name>* {
        font-size: 10vw;
        text-align: left;
        color: #8c73d4;
        letter-spacing: 1px
    }

    .name>h3:nth-child(2) {
        color: #fff;
        -webkit-text-stroke: 2px #8c73d4
    }

    .image>div:last-child {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center
    }

    .image img {
        height: auto;
        width: 45vw;
        object-position: center;
        object-fit: cover;
        border-radius: 100%;
        margin-bottom: 2vw
    }

    .about {
        height: 40%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        text-align: center;
        padding: 0 1.5vh;
        letter-spacing: .5px
    }

    .about div:first-child {
        font-size: 11.5vw;
        font-weight: 700;
        font-family: 'Secular One', sans-serif
    }

    .about div:first-child h3::before {
        content: 'FRONTEND DEVELOPER';
        position: absolute;
        top: -.7vw;
        left: -1.3vw;
        color: #000;
        z-index: -1;
        -webkit-text-stroke: #8c73d4 1.5px
    }

    .about>p {
        font-size: calc(11.5vw / 2.5);
        font-family: 'Cabin', sans-serif;
        font-weight: 700;
        margin: 1vh .5vh
    }

    .section-2 {
        display: flex;
        height: 89vh;
        width: 100%;
        justify-content: center;
        align-items: center
    }

    #page {
        height: 85%;
        width: 90%;
        background-color: #b1b1b10f;
        border-radius: 20px;
        backdrop-filter: blur(100px);
        -webkit-backdrop-filter: blur(15px);
        padding: .8vh 2vh;
        overflow: hidden
    }

    #page>div:last-child {
        border: none
    }

    .details {
        width: 100%;
        height: 33%;
        border-bottom: 1.5px solid #fff;
        padding: .8vh 0;
        display: flex;
        position: relative
    }

    .details>div:first-child {
        height: 100%;
        width: 64%;
        padding: 1vh .8vh
    }

    .details>div:last-child {
        height: 100%;
        position: relative;
        width: 38%;
        padding: 1vh .8vh
    }

    .details>div {
        display: flex;
        justify-content: center;
        flex-direction: column
    }

    #page>div:nth-child(2) {
        display: flex;
        justify-content: center;
        flex-direction: row-reverse
    }

    .details>div:first-child h3 {
        font-size: 8vw
    }

    .details>div:first-child p {
        font-size: calc(6.7vw / 1.618);
        margin-top: 1vh;
        font-family: 'Cabin', sans-serif;
        font-weight: 600
    }

    .details>div p {
        color: #8c73d4;
        background-image: -webkit-linear-gradient(315deg, #8c73d4 25%, #c847d6 87%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent
    }

    #ed {
        height: 20vw
    }

    .imge {
        height: 40%;
        width: 90%;
        display: flex;
        margin: -2vh 0
    }

    .imge:nth-child(2) {
        display: flex;
        flex-direction: row-reverse
    }

    .details:last-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2vh
    }

    .details:last-child>div {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row
    }

    .details:last-child>div h2 {
        font-size: 6vw
    }

    #div2 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0;
        margin: 0
    }

    .logo {
        height: 16vw;
        width: 16vw;
        border: 1px solid #8c73d4;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 50%
    }

    .logo a {
        height: min-content;
        display: grid;
        place-items: center;
        text-decoration: none;
        width: min-content
    }

    .logo a span {
        color: #fff;
        display: none
    }

    .logo a img {
        height: 9vw
    }

    .logo:last-child a img {
        height: 12vw
    }
}